{{ block "index" . }}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="static/favicon.png" />
    <title>Damien Sedgwick | Senior Frontend Engineer | Product Engineer</title>
    <meta
      name="description"
      content="Seasoned developer with a knack for building things... and occasionally breaking them. Led Floop (RIP) into the sunset, but the lessons learned are paving the way for my next digital adventure."
    />
    <link href="static/twcolors.min.css" rel="stylesheet" />
    <link href="static/styles.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <p>
        <i>If you build it, they will come...</i>
      </p>
    </main>
  </body>
</html>
{{ end }}
