.grid {
    height: calc(100% - 75px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.25rem;
}

.container {
    grid-column: 1 / 12;
    grid-row: 1 / 8;
}