.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.25rem;
}

.header {
    grid-row: 1 / span 3;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.75rem, max(1rem, 5vw));
    letter-spacing: 0.15rem;
    font-weight: 500;
}

.subtitle {
    margin: 1rem 0;
    font-size: clamp(2rem, 3rem, max(1rem, 5vw));
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 0.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 0.4rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #1f2937;
}

.articlesTitle {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.articlesContainer {
    padding: 1rem;
    grid-row: 4 / span 7;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.articles > li:last-child {
    margin-bottom: 5rem;
}

@media (min-width: 1024px) {
    .header {
        grid-row: 1 / span 4;
        grid-column: 2 / span 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }

    .articlesContainer {
        grid-row: 2 / span 2;
        grid-column: 8 / span 4;
    }

    .articles {
        max-width: inherit;
    }

    .articles > li:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .articlesContainer {
        grid-row: 2 / span 2;
        grid-column: 9 / span 3;
    }
}

@media (min-width: 1536px) {
    .articlesContainer {
        grid-row: 1 / span 4;
    }
}

@media (min-width: 2400px) {
    .title {
       font-size: 5rem;
    }

    .subtitle {
       font-size: 5rem;
    }

    .socialLink {
        font-size: 2rem;
        width: 3.75rem;
        height: 3.75rem;
        margin: 0 0.8rem;
    }

    .articlesContainer {
        grid-row: 2 / span 2;
    }

    .articles {
        width: 75%;
    }
}


@media (hover: hover) {
    .socialLink:hover {
        color: #14b8a6;
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
    }
}