{{template "index.html" .}}

{{define "about"}}

<div class="container">
    <h2>About Me</h2>

    <p>
        I am a dedicated full-stack developer with a profound commitment to ongoing learning and a focus on creating
        innovative solutions. My professional background is marked by a consistent pursuit of knowledge and the
        application
        of cutting-edge technologies to drive project success.
    </p>

    <p>
        Currently, I am actively involved in several projects, where
        I leverage my skills to explore and integrate emerging technologies, ensuring that my work remains at the
        forefront
        of industry advancements.
    </p>
</div>
{{end}}