{{template "index.html" .}}

{{define "articles"}}

<div class="container">
    <h4>Articles</h4>

    <p>

        I also share my insights by publishing articles on the <a href="https://dev.to/damiensedgwick" target="_blank"
            rel="noopener noreferrer">DEV Community</a>. This platform serves as a space where I contribute valuable
        content and engage with the developer community, fostering knowledge-sharing and meaningful discussions. You can
        read
        my most recent posts below.
    </p>

    <ul>
        {{range .PageVariables.Articles}}
        <li>
            <a href="{{.URL}}" target="_blank" rel="noopener noreferrer">{{.Title}}</a>
        </li>
        {{end}}
    </ul>
</div>

{{end}}