{{template "index.html" .}}

{{define "oss"}}

<div class="container">
    <h3>Open Source Software</h3>

    <p>
        In my spare time, I actively contribute to open source software projects, reflecting my commitment to supporting
        collaborative initiatives. Below is a curated selection of the projects to which I have contributed,
        underscoring my
        dedication to advancing shared knowledge and fostering community-driven development.
    </p>

    <ul>
        <li>
            <a href="https://cli.github.com/">
                <img src="/static/github-logo.webp" alt="Github CLI" width="200" height="100">
            </a>
        </li>
        <li>
            <a href="https://norfolkdevelopers.com/">
                <img src="/static/nordev-logo.webp" alt="NorDev Group" width="200" height="100">
            </a>
        </li>
        <li>
            <a href="https://remix.run/">
                <img src="/static/remix-logo.webp" alt="Remix" width="200" height="100">
            </a>
        </li>
        <li>
            <a href="https://xstate-catalogue.com/">
                <img src="/static/xstate-catalogue-logo.webp" alt="XState Catalogue" width="200" height="100">
            </a>
        </li>
    </ul>
</div>

{{end}}