{{template "index.html" .}}

{{define "projects"}}

<div class="container">
    <h3>Projects</h3>

    <p>
        I am currently working on a project in my spare time called <a href="https://feedback-loop.io" target="_blank"
            rel="noopener noreferrer">Floop</a>
        with the goal of bringing a easy to use, data rich feedback platform that other products and platform
        providers can use to capture their user feedback and make informed, data lead decisions.
    </p>

    <div>
        <img src="/static/floop-dashboard.png" alt="" width="600" height="355">
    </div>
</div>

{{end}}