:root {
	/* colours */
	--slate-50: #F8FAFC;
	--slate-100: #F1F5F9;
	--slate-200: #E2E8F0;
	--slate-300: #CBD5E1;
	--slate-400: #94A3B8;
	--slate-500: #64748B;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1E293B;
	--slate-900: #0F172A;

	--primary-colour: var(--slate-900);
	--secondary-colour: var(--slate-50);

	--primary-bg: var(--slate-50);
	--secondary-bg: var(--slate-900);

	/* fonts */
	--font-body: Arial;
	--font-display: var(--font-body);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: var(--primary-colour);
	background-color: var(--primary-bg);
	font-family: var(--font-display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

main {
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 0.25rem;

	header {
		margin: 0 auto;
		grid-row: 1 / span 2;
		text-align: center;
		align-self: center;

		h1 {
			font-size: clamp(1.6rem, 7vw, 3rem);
			text-transform: uppercase;
		}

		p {
			margin: 1rem 0;
			font-size: clamp(2rem, 8vw, 4rem);
			color: var(--secondary-colour);
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: var(--primary-colour);
			letter-spacing: 0.25rem;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		li {
			margin: 0 1rem 0 0;
			list-style: none;
			transition: transform .2s;
		}

		a {
			color: var(--primary-colour);
			text-decoration: none;
		}
	}
}

@media screen and (min-width: 992px) {
	main {
		width: 100vw;
		height: 100vh;
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 1fr);
		gap: 0.25rem;
	}

	main > header {
		grid-column: 2 / span 6;
	}

	main > div {
		width: 100%;
		grid-column: 2 / span 6;
		grid-row: 5 / span 2;
	}

	main > div > div > ul {
		display: flex;
		flex-direction: row;
	}

	main > div > div > ul > li {
		margin: 0.5rem;
	}
}

@media screen and (min-width: 1280px) {
	main > header {
		grid-column: 1 / span 4;
		grid-row: 3 / span 4;
		text-align: left;
	}

	main > header > ul {
		justify-content: flex-start;
	}

	main > div {
		width: 100%;
		grid-column: 6 / span 2;
		grid-row: 2 / span 6;
		align-self: center;
	}

	main > div > div > ul {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 1536px) {
	main > div {
		width: 75%;
		grid-column: 6 / span 2;
		grid-row: 2 / span 6;
	}
}