.container {
    position: fixed;
    width: 100%;
    padding: 1rem 0.5rem;
    bottom: 0;
    color: #1f2937;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    z-index: 100;
}

.navMenu {
    display: flex;
    justify-content: space-around;
}

.navItem {
    width: 100%;
    border-right: solid 1px white;
    transition: transform 0.2s ease-in-out;
    opacity: 0.75;
}

.navItemActive {
    width: 100%;
    border-right: solid 1px white;
}

.navItem:last-child {
    border-right: none;
}

.navLink {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navIcon {
    color: inherit;
    font-size: 1.5rem;
    margin: 0 0 0.25rem 0;
}

.navText {
    color: inherit;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .container {
        max-width: 200px;
        margin: 0 0 1rem 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
    }
}

@media (min-width: 2400px) {
    .container {
        max-width: 800px;
        margin: 0 0 1rem 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
    }

    .navIcon {
        color: inherit;
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
    }
}


@media (hover: hover) {
    .navItem:hover {
        width: 100%;
        color: #14b8a6;
        opacity: 1;
    }
}