* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

main {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tw-purple-300);
}

.btn {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border-radius: 8px;
  transition: all .2s;
  outline: none;
  cursor: pointer;
}

.btn__primary {
  border: 2px solid var(--tw-teal-500);
  background: var(--tw-teal-500);
  color: var(--tw-neutral-100);
}

.btn__secondary {
  border: 2px solid var(--tw-teal-500);
  background: none;
  color: var(--tw-teal-500);
}

.container {
  padding: 0.75rem;
  width: 100%;
  background: var(--tw-neutral-800);
  border-radius: 8px;
}

.container__content {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>p {
  font-size: 3rem;
  font-weight: 700;
  color: var(--tw-teal-500);
  letter-spacing: -8px;
}

.header>ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.header>ul>li {
  margin-right: 1.5rem;
}

.header>ul>li:last-child {
  margin-right: 0;
}

.header>ul>li>a {
  text-decoration: none;
}

.header>ul>li>a>svg {
  text-decoration: none;
  fill: var(--tw-teal-500);
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__name {
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: -4px;
  color: var(--tw-neutral-100);
}

.profile__bio {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--tw-neutral-100);
}

.profile__ctas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.profile__cta {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.profile__cta>svg {
  height: 20px;
  width: 20px;
}

.profile__image {
  margin: 0 auto;
}

.profile__image>svg {
  width: 223px;
  height: 194px;
}

.showcase__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--tw-neutral-100);
  letter-spacing: -4px;
}

.showcase__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showcase__cards-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showcase__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--tw-teal-500);
  border-radius: 8px;
  color: var(--tw-neutral-100);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--tw-neutral-100);
}

.card__stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__langs {
  display: flex;
  gap: 12px;
  list-style: none;
}

.card__link {
  text-decoration: none;
  font-weight: 700;
  color: var(--tw-neutral-100);
}

.lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.go__dot {
  fill: var(--tw-cyan-500);
}

.html__dot {
  fill: var(--tw-red-500);
}

.css__dot {
  fill: var(--tw-purple-500);
}

.docker__dot {
  fill: var(--tw-slate-500);
}

.typescript__dot {
  fill: var(--tw-blue-500);
}

.postgres__dot {
  fill: var(--tw-blue-400);
}

@media screen and (min-width: 768px) {
  .container__content {
    max-width: 700px;
  }

  .header {
    padding-top: 10px;
  }

  .profile__image>svg {
    width: 405px;
    height: 352px;
  }

  .profile__ctas {
    flex-direction: row;
  }

  .showcase__cards-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .container__content {
    padding: 0;
    max-width: 1000px;
  }

  .header {
    padding-top: 20px;
  }

  .profile__name {
    font-size: 4.75rem;
    letter-spacing: -10px;
  }

  .profile__image>svg {
    width: 500px;
    height: 435px;
  }

  .showcase__title {
    font-size: 4rem;
    letter-spacing: -8px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    height: 100%;
    padding: 1rem;
  }

  .container {
    height: 100%;
  }

  .container__content {
    height: 100%;
    max-width: 1200px;
    gap: 100px;
  }

  .main__content {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .profile__content {
    max-width: 600px;
    gap: 35px;
  }

  .profile__name {
    font-size: 5.6rem;
  }

  .profile__image {
    margin: 0;
  }

  .profile__image>svg {
    width: 604px;
    height: 525px;
  }

  .showcase__cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 1536px) {
  .container__content {
    max-width: 1400px;
  }
}