:root {
    /* Colors */

    /* Neutral */
    --tw-neutral-50: #fafafa;
    --tw-neutral-100: #f5f5f5;
    --tw-neutral-200: #e5e5e5;
    --tw-neutral-300: #d4d4d4;
    --tw-neutral-400: #a3a3a3;
    --tw-neutral-500: #737373;
    --tw-neutral-600: #525252;
    --tw-neutral-700: #404040;
    --tw-neutral-800: #262626;
    --tw-neutral-900: #171717;

    /* Teal */
    --tw-teal-50: #f0fdfa;
    --tw-teal-100: #ccfbf1;
    --tw-teal-200: #99f6e4;
    --tw-teal-300: #5eead4;
    --tw-teal-400: #2dd4bf;
    --tw-teal-500: #14b8a6;
    --tw-teal-600: #0d9488;
    --tw-teal-700: #0f766e;
    --tw-teal-800: #115e59;
    --tw-teal-900: #134e4a;

    /* Everything Else */
    --font-sans: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-sans);
    font-size: 18px;
    height: 100%;
    width: 100%;
    background: var(--tw-neutral-100);
    color: var(--tw-neutral-900);
}

section {
    padding: 1rem;
}

header {
    padding: 1rem;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>img {
    height: auto;
    width: 100px;
    margin-bottom: 0.75rem;
}

h2,
h3,
h4,
h5,
h6 {
    width: fit-content;
    padding-bottom: 8px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: solid 4px var(--tw-teal-500);
}

header>h1,
header>p {
    color: var(--tw-neutral-50);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--tw-neutral-100);
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: var(--tw-neutral-900);
    letter-spacing: 0.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about,
.oss,
.articles {
    margin: 4rem 0;
}

.about p,
.oss p,
.articles p {
    margin: 1rem 0;
    line-height: 1.5;
}

.oss ul {
    margin: 2rem 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
}

.oss>div>ul>li {
    justify-self: center;
}

@media (hover: hover) {
    .oss>div>ul>li>a>img:hover {
        animation: wiggle 0.5s;
    }
}

.oss>div>ul>li>a>img {
    border-radius: 12px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.articles>div>ul {
    list-style: none;
}

.articles>div>ul>li {
    margin: 0.75rem 0;
}

.articles a {
    color: inherit;
}

footer>p {
    text-align: center;
    padding: 2rem;
    border-top: solid 1px var(--tw-neutral-900);
}

@media screen and (min-width: 768px) {

    html,
    body {
        font-size: 20px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;
    }

    .container {
        margin: 0 auto;
        max-width: 80ch;
    }

    header>img {
        height: auto;
        width: 125px;
        margin-bottom: 1rem;
    }

    header>h1,
    header>p {
        font-size: 32px;
        margin-bottom: 0.5rem;
        -webkit-text-stroke-width: 1.5px;
    }

    .oss ul {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
}

@media screen and (min-width: 992px) {
    header>img {
        height: auto;
        width: 150px;
        margin-bottom: 1rem;
    }

    header>h1,
    header>p {
        font-size: 44px;
        margin-bottom: 0.5rem;
        -webkit-text-stroke-width: 2px;
    }

    .oss ul {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(1, auto);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0) translateY(0);
    }

    10% {
        transform: translateX(-1px) translateY(-1px);
    }

    20% {
        transform: translateX(1px) translateY(1px);
    }

    30% {
        transform: translateX(-1px) translateY(-1px);
    }

    40% {
        transform: translateX(1px) translateY(1px);
    }

    50% {
        transform: translateX(-1px) translateY(-1px);
    }

    60% {
        transform: translateX(1px) translateY(1px);
    }

    70% {
        transform: translateX(-1px) translateY(-1px);
    }

    80% {
        transform: translateX(1px) translateY(1px);
    }

    90% {
        transform: translateX(-1px) translateY(-1px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}