<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      Damien Sedgwick | Senior Developer | Product Engineer | Founder
    </title>
    <meta
      name="description"
      content="Damien Sedgwick is a creative senior developer and the founder of Floop, the easy to use feedbck loop for saas providers."
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/assets/favicon.png" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="content-text">
          <p class="greeting">Hello, I am</p>
          <h1 class="name">Damien Sedgwick</h1>
          <p class="tagline">Founder and Product Engineer @ Floop</p>
          <p class="bio">
            A product engineer who is self-taught and combines technical
            expertise with a keen eye for detail, when crafting innovative web
            solutions. Showcasing adaptability, determination and a commitment
            to overcoming challenges.
          </p>
        </div>
        <div class="content-image">
          <img
            class="floop-dash"
            src="/static/assets/floop-dashboard.png"
            alt="Floop dashboard preview"
            height="auto"
            width="auto"
          />
          <a
            class="floop-link"
            href="https://feedback-loop.io"
            target="_blank"
            rel="noopener norefer"
            title="Floop"
          >
            Floop
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
