<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    Damien Sedgwick | Senior Developer | Product Engineer | Founder
  </title>
  <meta name="description"
    content="Damien Sedgwick is a creative senior developer and the founder of Floop, the easy to use feedbck loop for saas providers." />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="icon" href="/static/assets/favicon.png" />
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="content-text">
        <p class="greeting">Hello, I am</p>
        <h1 class="name">Damien Sedgwick</h1>
        <p class="tagline">Hacking on 'Nano Apps' using Go, HTMX and SQLite</p>
        <p class="bio">
          As a product-focused engineer, I take pleasure in crafting dynamic
          applications that blend innovation with efficiency. My passion lies
          in developing containerised, lightweight solutions that seamlessly
          adapt to multiple environments.
        </p>
      </div>
      <div class="content-image">
        <img class="floop-dash" src="/static/assets/floop-dashboard.webp" alt="Floop dashboard preview" height="1910"
          width="2928" />
        <svg class="dashed-line" width="1905" height="253" viewBox="0 0 1905 253" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M-3.47989 159.455C1035.47 -168.93 1293.97 628.825 1903.16 1.89265" stroke="black" stroke-width="4"
            stroke-dasharray="8 8" />
        </svg>
      </div>
    </div>
  </div>
</body>

</html>