.articlesTitle {
    padding: 1rem;
    margin: auto;
    font-size: clamp(1.5rem, 2rem, max(1rem, 5vw));
    border-bottom: solid 4px #14b8a6;
    width: fit-content;
    font-weight: 600;
    text-align: center;
}

.articles {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.articles > li:last-child {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }

    .articles > li:last-child {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}


@media (min-width: 1280px) {
    .articles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1536px) {
    .articles {
        grid-template-columns: repeat(5, 1fr);
    }
}