<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damien Sedgwick | Web Developer | Product Engineer</title>
    <meta name="description" content="One day, I will have written, something really meaningful, and it will go here.">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {{block "hero" .}}{{end}}
    </header>

    <main>
        {{block "content" .}}{{end}}
    </main>

    <footer>
        {{block "footer" .}}{{end}}
    </footer>
</body>

</html>